---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/layout/Navbar';
import Hero from '../components/home/Hero';
import ToolGrid from '../components/home/ToolGrid';
import Footer from '../components/layout/Footer';
---

<Layout title="PePDF | Modern Digital Toolbox">
	<Navbar client:load />
	<main>
		<Hero client:load />
		<ToolGrid client:visible />
	</main>
	<Footer client:visible />
</Layout>

<style>
	main {
		margin: auto;
		width: 100%;
		max-width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>